{% extends 'layout.html' %}

{% block head %}
<title>Sign Up</title>
<link rel="stylesheet" href="static\css\styles_register.css">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card w-50 m-auto">
        <div class="card-body">
            <h1 class="text-center">Sign Up</h1>
            <form method="post">
                <div class="mb-3">
                    <label for="input_name" class="form-label">Name User</label>
                    <input name="inpNama" id="input_name" type="input" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="input_email" class="form-label">Email address</label>
                    <input name="inpEmail" id="input_email" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="input_password" class="form-label">Password</label>
                    <input name="inpPass" id="input_password" type="password" class="form-control">
                </div>
                {% if msg %}
                <p class="text-danger">{{ msg }}</p>
                {% endif %}
                <p class="text-center">Already have an account? <a href="/login">Login</a></p>
                <button type="submit" class="btn btn-primary float-end">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
